{% extends 'dashboard_a.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empresas</title>
    <link rel="stylesheet" href="{% static 'css/companies.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <main class="companies">
        <div class="filter-container companies">
            <input type="text" id="nameFilter" placeholder="Filtrar pelo nome da empresa" value="{{ name_filter }}">
            <button id="filterButton">Filtrar</button>
        </div>

        <table id="companyTable" class="companies">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>Logo</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="companyTableBody">
                {% for company in companies %}
                <tr>
                    <td><input type="checkbox" class="company-checkbox" value="{{ company.id }}"></td>
                    <td><img src="{{ company.logo }}" alt="Logo" onerror="this.onerror=null;this.src='{% static 'img/notimage.png' %}'" class="logo-img"></td>
                    <td>{{ company.company_name }}</td>
                    <td>{{ company.cnpj }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.phone }}</td>
                    <td>{{ company.email }}</td>
                    <td>
                        <a href="{% url 'company' company.id %}">Detalhes</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Nenhuma empresa encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination companies">
            {% if current_page > 1 %}
                <button id="prevPage" onclick="window.location.href='?page=1{{ name_filter|default:''|urlencode }}'">&laquo; Primeiro</button>
                <button id="prev" onclick="window.location.href='?page={{ current_page|add:-1 }}{{ name_filter|default:''|urlencode }}'">&lsaquo; Anterior</button>
                <a href='?page={{ current_page|add:-1 }}'>{{ current_page|add:-1 }}</a>
            {% endif %}
            
            <div id="paginationNumbers"><span>{{ current_page }}</span></div>
        
            {% if current_page < paginator.num_pages %}
                <a href='?page={{ current_page|add:1 }}'>{{ current_page|add:1 }}</a>
                <button id="next" onclick="window.location.href='?page={{ current_page|add:1 }}{{ name_filter|default:''|urlencode }}'">&rsaquo; Próximo</button>
                <button id="nextPage" onclick="window.location.href='?page={{ paginator.num_pages }}{{ name_filter|default:''|urlencode }}'">Último &raquo;</button>
            {% endif %}
        </div>
    </main>
    <script src="{% static 'js/companies.js' %}" defer></script>
</body>

</html>
{% endblock %}
