{% extends 'dashboard_a.html' %}
{% block content %}
{% load static %}
<div class="container">
    <!-- Linha 1 -->
    <div class="row">
        <div class="card analytic-card">
            <h6 class="card-title">ACTIVE USERS</h6>
            <div class="card-value">
                <span>180</span>
                <i class="fa fa-users card-icon"></i>
            </div>
            <div class="card-info">
                <span class="percentage"><i class="fa fa-arrow-up"></i> 5.27%</span>
                <span class="info-text">Since last month</span>
            </div>
        </div>
        <div class="card sales-card">
            <h6 class="card-title">SALES</h6>
            <div class="card-value">
                <span>$12,340</span>
                <i class="fa fa-dollar-sign card-icon"></i>
            </div>
            <div class="card-info">
                <span class="percentage-down"><i class="fa fa-arrow-down"></i> -3.15%</span>
                <span class="info-text">Since last month</span>
            </div>
        </div>
        <div class="card orders-card">
            <h6 class="card-title">ORDERS</h6>
            <div class="card-value">
                <span>235</span>
                <i class="fa fa-box card-icon"></i>
            </div>
            <div class="card-info">
                <span class="percentage"><i class="fa fa-arrow-up"></i> 2.89%</span>
                <span class="info-text">Since last month</span>
            </div>
        </div>
    </div>

    <!-- Linha 2 -->
    <div class="row">
        <div class="card chart">
            <h6>SESSIONS OVERVIEW</h6>
            <canvas id="multipleLineChart"></canvas>
        </div>
        <div class="card map">
            <h6>SESSIONS BY COUNTRY</h6>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2047.3512632871746!2d-46.8905145!3d-23.213992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf26b303bddc0d%3A0x10ef1a71b99b6c80!2sR.%20Jo%C3%A3o%20Carbonari%20J%C3%BAnior%2C%20163%20-%20Vila%20Nova%20Jundiainopolis%2C%20Jundia%C3%AD%20-%20SP%2C%2013210-705!5e0!3m2!1sen!2sin!4v1530774403788"
                height="400" style="border:0; width:100%;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>

    <!-- Linha 3 -->
    <div class="row">
        <div class="column card">
            <div class="card-header">
                <h6 class="card-title">VIEWS PER MINUTE</h6>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Refresh Report</a></li>
                        <li><a class="dropdown-item" href="#">Export Report</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <img src="{% static 'img/3.jpg' %}" class="card-image" alt="View Image">
                <table class="card-table">
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Views</th>
                            <th>Bounce Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>/Lorem/-analytics</td>
                            <td>25</td>
                            <td>@87.5%</td>
                        </tr>
                        <tr>
                            <td>/Lorem/-analytics</td>
                            <td>25</td>
                            <td>@87.5%</td>
                        </tr>
                        <tr>
                            <td>/Lorem/-analytics</td>
                            <td>25</td>
                            <td>@87.5%</td>
                        </tr>
                        <tr>
                            <td>/Lorem/-analytics</td>
                            <td>25</td>
                            <td>@87.5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">SESSIONS BY BROWSER</h6>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Refresh Report</a></li>
                        <li><a class="dropdown-item" href="#">Export Report</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <img src="{% static 'img/3.jpg' %}" class="card-image-2" alt="View Image">
            </div>
        </div>
        <div class="column card">
            <h6 class="card-title">Card 8</h6>
            <p>Content for Card 8</p>
        </div>
    </div>
</div>
{% endblock %}
