{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <link rel="stylesheet" href="{% static 'css/styles_a.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon"       href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo-container">
                <a href="/">
                    <img src="{% static 'img/logo-direcao-digital.png' %}" alt="Logo Direção Digital" class="logo">
                    <img src="{% static 'img/letrero-direcao-digital.png' %}" alt="Logo Direção Digital" class="logo">
                </a>
            </div>
            <div class="top-icons">
                <div class="icon"><i class="fas fa-comments"></i></div>
                <div class="icon"><i class="fas fa-bell"></i></div>
                <div class="icon profile">
                    <i class="fas fa-user"></i>
                    <div class="profile-menu">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="{% url 'dashboard' %}">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul>
        </nav>
    </header>
    <aside class="sidebar" id="sidebar">
        <div class="sidebar-toggle" id="sidebar-toggle">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="sidebar-content" id="sidebar-content">
            <ul id="sidebar-menu">
                <li><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i><span>Home</span></a></li>
                <li class="menu-item" id="profile-menu">
                    <a href="#" class="submenu-toggle"><i class="fas fa-user"></i><span>Profile</span></a>
                    <ul class="submenu" id="submenu">
                        <li><a href="#">Submenu Item 1</a></li>
                        <li><a href="#">Submenu Item 2</a></li>
                    </ul>
                </li>
                <li class="menu-item" id="settings-menu">
                    <a href="#" class="submenu-toggle"><i class="fas fa-cog"></i><span>Settings</span></a>
                    <ul class="submenu" id="submenu">
                        <li><a href="#">Submenu Item 1</a></li>
                        <li><a href="#">Submenu Item 2</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'chat' %}"><i class="fas fa-comments"></i><span>Chat</span></a></li>
                <li><a href="{% url 'products_list_detail' %}"><i class="fas fa-glasses"></i><span>Products</span></a></li>
                <li><a href="{% url 'companies' %}"><i class="fas fa-industry"></i><span>Companies</span></a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
            </ul>
        </div>
    </aside>   
    
    <main>
        {% block content %}
        <!-- Conteúdo será carregado aqui -->
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            Footer content
        </div>
    </footer>
    <script src="{% static 'js/scripts_a.js' %}"></script>    
</body>

</html>