<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp API</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à API do WhatsApp</h1>
        <p>Este é um exemplo de integração do Django com o WhatsApp.</p>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
