{% extends 'dashboard_a.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{% static 'css/products_group_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="products-container">
        <div class="filter-container products">
            <input type="text" id="nameFilter" placeholder="Filtrar pelo nome do produto">
            <select id="statusFilter">
                <option value="all">Todos os Status</option>
                <option value="active">Ativo</option>
                <option value="inactive">Inativo</option>
            </select>
            <button id="filterButton">Filtrar</button>
            <a href="{% url 'products' %}"><i class="fa fa-list-ul"></i></a>
        </div>

        <div class="products-row">
            {% for product in products %}
            <div class="product-card">
                <a href="/product/{{ product.codigo }}/">
                    <div class="product-image">
                        {% if product.imagem %}
                            <img src="{{ product.imagem }}" alt="{{ product.descricao }}" onerror="this.onerror=null;this.src='https://b2b.hb.com.br/assets/images/produtos/notfound.png';">
                        {% else %}
                            <div class="no-image">Imagem não disponível</div>
                        {% endif %}
                    </div>
                </a>
                {% if product.novo %}
                    <div class="new-tag">New</div>
                {% endif %}
                <div class="product-info">
                    <p class="product-title"><a href="#">{{ product.descricao }}</a></p>
                    <h4>R$ {{ product.preco_desconto|floatformat:2 }}<br>
                        <span class="discount">R$ {{ product.preco_original|floatformat:2 }} - {{ product.desconto|floatformat:2 }}%</span>
                    </h4>
                    <p class="shipping-cost">Custo de Envio: R$ {{ product.frete|floatformat:2 }}</p>
                    <p class="stock">Estoque: <span class="stock-available">0</span></p>
                </div>
                <div class="product-actions">
                    <a class="button-favorite" href="#"><i class="fa fa-heart-o"></i> Favoritar</a>
                    <a class="button-cart" href="#"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagination products">
            {% if products.has_previous %}
                <button id="prevPage" onclick="window.location.href='?page=1'">&laquo; Primeiro</button>
                <button id="prev"     onclick="window.location.href='?page={{ products.previous_page_number }}'">&lsaquo; Anterior</button>
                <a href='?page={{ products.previous_page_number }}'>{{ products.previous_page_number }}</a>
            {% endif %}
    
            <div id="paginationNumbers"><span>{{ current_page }}</span></div>

            {% if products.has_next %}
                <a href='?page={{ products.next_page_number }}'>{{ products.next_page_number }}</a>
                <button id="next"     onclick="window.location.href='?page={{ products.next_page_number }}'">&rsaquo; Próximo</button>
                <button id="nextPage" onclick="window.location.href='?page={{ products.paginator.num_pages }}'">Último &raquo;</button>
            {% endif %}
    </div>
    </main>
    <script src="{% static 'js/products_group_detail.js' %}"></script>
</body>
</html>
{% endblock %}
