{% extends 'dashboard_a.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Table</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{% static 'js/products.js' %}" defer></script>
</head>

<body>
    <main class="products">
        <div class="filter-container products">
            <input type="text" id="nameFilter" placeholder="Filtrar pelo nome do produto">
            <select id="statusFilter">
                <option value="all">Todos os Status</option>
                <option value="active">Ativo</option>
                <option value="inactive">Inativo</option>
            </select>
            <button id="filterButton">Filtrar</button>
            <a href="{% url 'products_group_detail' %}"><i class="fa fa-th"></i></a>
        </div>
    
        <table id="productTable" class="products">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>Imagem</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Grupo</th>
                    <th>EAN</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><input type="checkbox" name="select_product" value="{{ product.codigo }}"></td>
                    <td>
                        <a href="{% url 'product' product.codigo %}">
                            <img src="{{ product.imagem }}" alt="{{ product.descricao }}" onerror="this.onerror=null;this.src='https://b2b.hb.com.br/assets/images/produtos/notfound.png';">
                        </a>
                    </td>
                    <td>{{ product.codigo }}</td>
                    <td>{{ product.descricao }}</td>
                    <td>{{ product.grupo }}</td>
                    <td>{{ product.ean }}</td>
                    <td>{{ product.status }}</td>
                    <td class="actions">
                        <a href="" class="action-icon" title="Visualizar"><i class="fas fa-eye"></i></a>
                        <a href="" class="action-icon" title="Alterar"><i class="fas fa-pencil-alt"></i></a>
                        <a href="" class="action-icon" title="Excluir" onclick="return confirm('Tem certeza de que deseja excluir este produto?');"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div class="pagination products">
                {% if products.has_previous %}
                    <button id="prevPage" onclick="window.location.href='?page=1'">&laquo; Primeiro</button>
                    <button id="prev"     onclick="window.location.href='?page={{ products.previous_page_number }}'">&lsaquo; Anterior</button>
                    <a href='?page={{ products.previous_page_number }}'>{{ products.previous_page_number }}</a>
                {% endif %}
        
                <div id="paginationNumbers"><span>{{ current_page }}</span></div>
   
                {% if products.has_next %}
                    <a href='?page={{ products.next_page_number }}'>{{ products.next_page_number }}</a>
                    <button id="next"     onclick="window.location.href='?page={{ products.next_page_number }}'">&rsaquo; Próximo</button>
                    <button id="nextPage" onclick="window.location.href='?page={{ products.paginator.num_pages }}'">Último &raquo;</button>
                {% endif %}
        </div>
        
    </main>
</body>
</html>
{% endblock %}
