{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Service-Center</title>
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css" />
	<link rel='stylesheet' href="{% static 'home/css/simplelightbox.min.css' %}" type='text/css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
	<script src="{% static 'home/js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<link rel="icon" href="{% static 'home/img/favicon.png' %}" type="image/x-icon">
</head>

<body>
	<section id="header" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="header clearfix">
					<div class="col-sm-6 header_left clearfix">
						<div class="header_left_inner">
							<ul>
								<li>
									<p>
										<i class="fa fa-map-o"></i>
										<a
											href="https://www.google.com/maps/place/Óleo+Novo+Comércio+de+Filtros+e+Lubrificantes+para+Autos/@-23.4106712,-46.8324455,17z/data=!3m1!4b1!4m6!3m5!1s0x94cf1d42ea37dd5f:0xf1b19228b699c4aa!8m2!3d-23.4106712!4d-46.8324455!16s%2Fg%2F1ptyssxzy?hl=pt-BR&entry=ttu">
											Av. das Juritis, 122 - Polvilho, Cajamar - SP</a>
									</p>
								</li>
								<li>
									<p>
										<span><i class="fa fa-phone"> </i><a href="#">(11)
												4498-0223</a>&nbsp;&nbsp;</span>
										<span><i class="fa fa-whatsapp"></i><a href="https://wa.me/11989386170">(11)
												98938-6170</a></span>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 header_right clearfix">
						<div class="header_right_inner">
							<div class="col-sm-7 header_right_inner_left clearfix">
								<div class="header_right_inner_left_inner">
									<p>Funcionamento: <span class="dating_1">Seg-Sex: 08:00-18:00;
											Sáb:08:00-12:00</span></p>
								</div>
							</div>
							<div class="col-sm-5 header_right_inner_right clearfix">
								<div class="header_right_inner_right_inner">
									<ul>
										<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://www.instagram.com/oleo.novo/"><i
													class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="top" class="cd-secondary-nav clearfix">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home:index' %}">
						<img src="{% static 'home/img/logo.png' %}" alt="Logo">
						<div class="text-container">
							<span class="dating_0">
								<span class="dating_2">ÓLEO</span>
								<span class="dating_3">NOVO</span>
							</span>
							<span class="dating_4">Super Troca de Óleo</span>
						</div>
					</a>
				</div>
				<div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="active_tab" href="{% url 'home:index' %}">Home</a></li>
							<li><a href="{% url 'home:service' %}">Serviços</a></li>
							<li><a href="{% url 'home:gallery' %}">Galeria</a></li>
							<li><a href="{% url 'home:team' %}">Equipe</a></li>
							<li><a href="{% url 'home:pricing' %}">Preços</a></li>
							<li><a href="{% url 'home:testimonial' %}">Depoimentos</a></li>
							<li><a href="{% url 'home:faq' %}">FAQ</a></li>
							<li><a href="{% url 'home:contact' %}">Contato</a></li>
							<li class="dropdown">
								<a class="tag_menu tag_menu_right" href="{% url 'home:blog' %}" data-toggle="dropdown"
									role="button" aria-expanded="false">Mais<span class="caret"></span>
								</a>
								<ul class="dropdown-menu drop_1" role="menu">
									<li><a href="{% url 'home:index' %}">Home</a></li>
									<li><a href="{% url 'home:gallery' %}">Galeria</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</section>

	<section id="center_1" class="clearfix">
		<div class="center_1_main">
			<div class="container">
				<div class="row">
					<div class="center_1_top clearfix">
						<div class="center_1_top_inner_1">
							<p>MANUTENÇÃO RÁPIDA, DESEMPENHO GARANTIDO</p>
						</div>
						<div class="center_1_top_inner_2">
							<h2>Confie na nossa equipe para <br>cuidar do coração do seu carro</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_2" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_2 clearfix">
					<div class="col-sm-4 center_2_left clearfix">
						<div class="center_2_left_inner">
							<p>Faça agora mesmo seu agendamento</p>
						</div>
					</div>
					<div class="col-sm-5 center_2_middle clearfix">
						<div class="center_2_middle_inner">
							<p>Preencha o formulário e marque um horário conosco</p>
						</div>
					</div>
					<div class="col-sm-3 center_2_right clearfix">
						<div class="center_2_right_inner">
							<p><a href="#">Faça o seu Agendamento</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_3" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_3 clearfix">
					<h2>Serviços</h2>
					<p>Oferecemos produtos e serviços de alta qualidade e melhor custo benefício</p>
				</div>
				<div class="center_3_top clearfix">
					<div class="center_3_top_inner">
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-gears"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Lubrificantes</a></h2>
										<p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
											imperdiet. Duis sagittis ipsum.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-rouble"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Óleos Automotivos</a></h2>
										<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
											inceptos C. Curabitursodales in libero.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-magnet"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Óleos Industriais</a></h2>
										<p>Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia
											arcu eget nulla odionec odio.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="center_3_top_inner">
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-car"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Manutenção Automotiva</a></h2>
										<p>Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
											lacinia nec sociosqu.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-spinner"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Filtros</a></h2>
										<p>dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio
											praesent. Sed dignissim lacinia nunc.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 center_3_top_inner_left clearfix">
							<div class="center_3_top_inner_left_inner">
								<div class="col-sm-3 repair_left clearfix">
									<div class="repair_left_inner">
										<p><i class="fa fa-neuter"></i></p>
									</div>
								</div>
								<div class="col-sm-9 repair_right clearfix">
									<div class="repair_right_inner">
										<h2><a href="#">Aditivos</a></h2>
										<p>Taciti sociosqu ad litora torquent per conubia nostra, per inceptos C.
											Curabitursodales ligula ipsum necc.</p>
										<h5><a href="#">Read more</a></h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_4" class="clearfix">
		<div class="center_4 clearfix">
			<div class="col-sm-6 center_4_left clearfix">
				<div class="center_4_left_top">
					<div class="center_4_left_inner">
						<h2>Nulla Nec Aptent <br>Sagittis</h2>
						<p>Praesent mauris fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia
							arcu.</p>
					</div>
					<div class="center_4_left_inner_2">
						<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus ante dapibus diam.
							Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</h4>
					</div>
					<div class="center_4_left_inner_3">
						<h5> <a href="#"><i class="fa fa-chevron-right"></i>18 Fusce / 18,000km Adipiscing Torquent</a>
						</h5>
						<h5> <a href="#"><i class="fa fa-chevron-right"></i>JAG Vestibulum lacinia arcu</a></h5>
						<h5> <a href="#"><i class="fa fa-chevron-right"></i>Class aptent taciti sociosqu</a></h5>
						<h5> <a href="#"><i class="fa fa-chevron-right"></i>24-Hour Roadside Assistance</a></h5>
						<h5> <a href="#"><i class="fa fa-chevron-right"></i>Torquent per conubia nostr</a></h5>
					</div>
				</div>
			</div>
			<div class="col-sm-6 center_4_right clearfix">
				<div class="center_4_right_inner">
					<div class="grid">
						<figure class="effect-jazz">
							<img src="{% static 'home/img/3.jpg' %}" alt="img25" />
							<figcaption>
								<a href="#">View more</a>
							</figcaption>
						</figure>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_5" class="clearfix">
		<div class="center_5_head">
			<div class="container">
				<div class="row">
					<div class="center_5 clearfix">
						<div class="col-sm-3 center_5_left clearfix">
							<div class="center_5_left_inner">
								<h2>62</h2>
								<hr class="hr_2">
								<p>Integer nec odionec</p>
							</div>
						</div>
						<div class="col-sm-3 center_5_left clearfix">
							<div class="center_5_left_inner">
								<h2>1292</h2>
								<hr class="hr_2">
								<p>Tellus sed augue</p>
							</div>
						</div>
						<div class="col-sm-3 center_5_left clearfix">
							<div class="center_5_left_inner">
								<h2>83</h2>
								<hr class="hr_2">
								<p>Dignissim lacinia nunc</p>
							</div>
						</div>
						<div class="col-sm-3 center_5_left clearfix">
							<div class="center_5_left_inner">
								<h2>624</h2>
								<hr class="hr_2">
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_6" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_6_top clearfix">
					<h2>How It Massa</h2>
					<p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum</p>
				</div>
				<div class="center_6_middle clearfix">
					<div class="col-sm-3 center_6_left clearfix">
						<div class="center_6_left_inner">
							<h1>01</h1>
							<h2><a href="#">Duis sagittis</a></h2>
							<p>Dapibus diam sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum
								per conubia nostra.</p>
						</div>
					</div>
					<div class="col-sm-3 center_6_left clearfix">
						<div class="center_6_left_inner">
							<h1>02</h1>
							<h2><a href="#">Adipiscing elit</a></h2>
							<p>Tell us what your car needs or ask for a diagnostic. Receive a free, fast, fair &
								transparent price quote.</p>
						</div>
					</div>
					<div class="col-sm-3 center_6_left clearfix">
						<div class="center_6_left_inner">
							<h1>03</h1>
							<h2><a href="#">Arcu eget nulla</a></h2>
							<p>sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula
								in libero Sed lacinia nunc.</p>
						</div>
					</div>
					<div class="col-sm-3 center_6_left clearfix">
						<div class="center_6_left_inner">
							<h1>04</h1>
							<h2><a href="#">Quis sem at nibh</a></h2>
							<p>Dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Praesent libero -
								elementum imperdiet. Duis sagittis ipsum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_7" class="clearfix">
		<div class="center_7 clearfix">
			<div class="col-sm-6 center_7_right clearfix">
				<div class="center_7_right_inner">
					<div class="grid">
						<figure class="effect-jazz">
							<img src="{% static 'home/img/5.jpg' %}" alt="img25" />
							<figcaption>
								<a href="#">View more</a>
							</figcaption>
						</figure>

					</div>
				</div>
			</div>
			<div class="col-sm-6 center_4_left center_7_left clearfix">
				<div class="center_4_left_top center_7_left_top_left">
					<div class="center_4_left_inner">
						<h2>Integer nec odionec <br>Sagittis?</h2>
						<p>Sed cursus ante dapibus diam. Sed nisi nulla quis</p>
					</div>
					<div class="center_4_left_inner_2">
						<h4>Fusce tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla aptent
							taciti sociosqu.</h4>
					</div>
					<div class="center_7_left_top_left_4">
						<div class="col-sm-2 easy_left clearfix">
							<div class="easy_left_inner">
								<p><i class="fa fa-calculator"></i></p>
							</div>
						</div>
						<div class="col-sm-10 easy_right clearfix">
							<div class="easy_right_inner">
								<h4><a href="#">Ante dapibus diam</a></h4>
								<h5>Mauris usce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu
									eget, ad litora torquent per conubia.</h5>
							</div>
						</div>
					</div>
					<div class="center_7_left_top_left_4">
						<div class="col-sm-2 easy_left clearfix">
							<div class="easy_left_inner">
								<p><i class="fa fa-heart-o"></i></p>
							</div>
						</div>
						<div class="col-sm-10 easy_right clearfix">
							<div class="easy_right_inner">
								<h4><a href="#">Quis sem at nibh</a></h4>
								<h5>Ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
									Praesent libero augue semper porta Mauris.</h5>
							</div>
						</div>
					</div>
					<div class="center_7_left_top_left_4">
						<div class="col-sm-2 easy_left clearfix">
							<div class="easy_left_inner">
								<p><i class="fa fa-life-buoy"></i></p>
							</div>
						</div>
						<div class="col-sm-10 easy_right clearfix">
							<div class="easy_right_inner">
								<h4><a href="#">Dignissim Lacinia</a></h4>
								<h5>Tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget cursus
									ante dapibus diam duis sagittis ipsum.</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="center_8" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_6_top clearfix">
					<h2>Gallery</h2>
					<p>Tellus sed augue semper porta. Mauris massa</p>
				</div>
				<div class="center_6_middle clearfix">
					<div class="tour clearfix">
						<div class="gallery clearfix">
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/1.jpg' %}" class="big">
										<img src="{% static 'home/img/6.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/2.jpg' %}" class="big">
										<img src="{% static 'home/img/7.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/3.jpg' %}" class="big">
										<img src="{% static 'home/img/8.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="center_6_middle clearfix">
					<div class="tour clearfix">
						<div class="gallery clearfix">
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/11.jpg' %}" class="big">
										<img src="{% static 'home/img/42.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/12.jpg' %}" class="big">
										<img src="{% static 'home/img/43.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
							<div class="col-sm-4 gallery_left clearfix">
								<div class="gallery_left_inner">
									<a href="{% static 'home/img/thumbs/13.jpg' %}" class="big">
										<img src="{% static 'home/img/44.jpg' %}" width="100%" alt=""
											title="Beautiful Image" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="center_9" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_6_top clearfix">
					<h2>Testimonials</h2>
					<p>Sed cursus ante dapibus diam. Sed nisi</p>
				</div>
				<div class="carousel-container">
					<div class="carousel-wrapper">
						{% for review in reviews %}
						<div class="carousel-slide">
							<div class="review-author">
								<img src="{{ review.profile_photo_url }}" alt="{{ review.author_name }}">
								<div>
									<a href="#">{{ review.author_name }}</a>
									<div class="review-rating">
										{% with review.rating as rating %}
											{% for star in "★★★★★" %}
												{% if forloop.counter <= rating %} 
													<span>{{ star }}</span>
												{% else %}
													<span>☆</span>
												{% endif %}
											{% endfor %}
										{% endwith %}
									</div>
									<div class="review-date">{{ review.date }}</div>
								</div>
							</div>
							<div class="review-text">{{ review.text }}</div>
						</div>
						{% endfor %}
					</div>
					<button class="carousel-button left" onclick="prevSlide()">&#10094;</button>
					<button class="carousel-button right" onclick="nextSlide()">&#10095;</button>
				</div>
			</div>
		</div>
	</section>

	<section id="center_10" class="clearfix">
		<div class="center_6_top clearfix">
			<h2>Our Team</h2>
			<p>sociosqu ad litora torquent per conubia nostra, Curabitursodales <br> Sed dignissim lacinia nunc.</p>
		</div>
		<div class="center_10_middle clearfix">
			<div class="col-sm-3 center_10_middle_left">
				<div class="center_10_middle_left_inner_1">
					<div class="grid clearfix">

						<figure class="effect-kira">
							<img src="{% static 'home/img/13.jpg' %}" alt="img05" />
							<figcaption>
								<h2>Nisi <span>Arcu</span></h2>
								<p>
									<a href="#"><i class="fa fa-fw fa-home"></i></a>
									<a href="#"><i class="fa fa-fw fa-download"></i></a>
									<a href="#"><i class="fa fa-fw fa-heart"></i></a>
									<a href="#"><i class="fa fa-fw fa-share"></i></a>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="center_10_middle_left_inner_2">
					<h4><a href="#">Mauris massa</a></h4>
					<h5>Conubia Lacinia</h5>
				</div>
			</div>
			<div class="col-sm-3 center_10_middle_left">
				<div class="center_10_middle_left_inner_1">
					<div class="grid clearfix">

						<figure class="effect-kira">
							<img src="{% static 'home/img/14.jpg' %}" alt="img05" />
							<figcaption>
								<h2>Nisi <span>Arcu</span></h2>
								<p>
									<a href="#"><i class="fa fa-fw fa-home"></i></a>
									<a href="#"><i class="fa fa-fw fa-download"></i></a>
									<a href="#"><i class="fa fa-fw fa-heart"></i></a>
									<a href="#"><i class="fa fa-fw fa-share"></i></a>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="center_10_middle_left_inner_2">
					<h4><a href="#">Sociosqu Augue</a></h4>
					<h5>Adipiscing</h5>
				</div>
			</div>
			<div class="col-sm-3 center_10_middle_left">
				<div class="center_10_middle_left_inner_1">
					<div class="grid clearfix">

						<figure class="effect-kira">
							<img src="{% static 'home/img/15.jpg' %}" alt="img05" />
							<figcaption>
								<h2>Nisi <span>Arcu</span></h2>
								<p>
									<a href="#"><i class="fa fa-fw fa-home"></i></a>
									<a href="#"><i class="fa fa-fw fa-download"></i></a>
									<a href="#"><i class="fa fa-fw fa-heart"></i></a>
									<a href="#"><i class="fa fa-fw fa-share"></i></a>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="center_10_middle_left_inner_2">
					<h4><a href="#">Dapibus Porta</a></h4>
					<h5>Sagattis</h5>
				</div>
			</div>
			<div class="col-sm-3 center_10_middle_left">
				<div class="center_10_middle_left_inner_1">
					<div class="grid clearfix">

						<figure class="effect-kira">
							<img src="{% static 'home/img/16.jpg' %}" alt="img05" />
							<figcaption>
								<h2>Nisi <span>Arcu</span></h2>
								<p>
									<a href="#"><i class="fa fa-fw fa-home"></i></a>
									<a href="#"><i class="fa fa-fw fa-download"></i></a>
									<a href="#"><i class="fa fa-fw fa-heart"></i></a>
									<a href="#"><i class="fa fa-fw fa-share"></i></a>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="center_10_middle_left_inner_2">
					<h4><a href="#">Praesent Libero</a></h4>
					<h5>Torquent</h5>
				</div>
			</div>
		</div>
	</section>

	<section id="center_11" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="center_6_top clearfix">
					<h2>Integer Nec</h2>
					<p>Sem at nibh elementum imperdiet. Duis sagittis ipsum</p>
				</div>
				<div class="center_11_middle clearfix">
					<div class="col-sm-4 center_11_middle_left">
						<div class="center_11_middle_left_inner_1">
							<div class="grid clearfix">

								<figure class="effect-apollo">
									<img src="{% static 'home/img/17.jpg' %}" alt="img22" />
									<figcaption>
										<a href="#">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="center_11_middle_left_inner_2">
							<h4><a href="#">Fusce nec tellus sed augue</a></h4>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
								Praesent libero sem at elementum. </h5>
							<h3>8 August 2017</h3>
						</div>
					</div>
					<div class="col-sm-4 center_11_middle_left">
						<div class="center_11_middle_left_inner_1">
							<div class="grid clearfix">

								<figure class="effect-apollo">
									<img src="{% static 'home/img/18.jpg' %}" alt="img22" />
									<figcaption>
										<a href="#">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="center_11_middle_left_inner_2">
							<h4><a href="#">Torquent per: sed odionec</a></h4>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
								Praesent libero sem at elementum. </h5>
							<h3>8 August 2017</h3>
						</div>
					</div>
					<div class="col-sm-4 center_11_middle_left">
						<div class="center_11_middle_left_inner_1">
							<div class="grid clearfix">

								<figure class="effect-apollo">
									<img src="{% static 'home/img/19.jpg' %}" alt="img22" />
									<figcaption>
										<a href="#">View more</a>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="center_11_middle_left_inner_2">
							<h4><a href="#">Fusce nec tellus - sed augue</a></h4>
							<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
								Praesent libero sem at elementum. </h5>
							<h3>8 August 2017</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 footer_left">
					<div class="line d-flex align-items-center">
						<!-- Coluna do Logo -->
						<div class="logo-column mr-2">
							<img src="{% static 'home/img/logo.png' %}" alt="Logo">
						</div>
						<!-- Coluna do Texto -->
						<div class="text-column">
							<div class="top-line">
								<span class="dating_0">ÓLEO</span>
								<span class="dating_3">NOVO</span>
							</div>
							<div class="bottom-line">
								<span class="dating_4">Super Troca de Óleo</span>
							</div>
						</div>
					</div>
					<p>
						Reunimos mais de 10 anos de experiência, realizando serviços de manutenção e troca de óleo automotivo e de máquinas, com produtos de alta qualidade e uma equipe extremamente qualificada para garantir um excelente trabalho.
					</p>
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-3 footer_left">
					<h2>Site Map</h2>
					<h4><a href="{% url 'home:index' %}"><i class="fa fa-chevron-right"></i>Home</a></h4>
					<h4><a href="{% url 'home:service' %}"><i class="fa fa-chevron-right"></i>Serviços</a></h4>
					<h4><a href="{% url 'home:team' %}"><i class="fa fa-chevron-right"></i>Equipe</a></h4>
					<h4><a href="{% url 'home:gallery' %}"><i class="fa fa-chevron-right"></i>Galeria</a></h4>
					<h4><a href="{% url 'home:faq' %}"><i class="fa fa-chevron-right"></i>FAQ</a></h4>
					<h4><a href="{% url 'home:contact' %}"><i class="fa fa-chevron-right"></i>Contato</a></h4>
				</div>
				<div class="col-sm-3 footer_left">
					<h2>Serviços</h2>
					<h4><a href="{% url 'home:about' %}"><i class="fa fa-chevron-right"></i>Lubrificantes</a></h4>
					<h4><a href="#"><i class="fa fa-chevron-right"></i>Óleos Automotivos</a></h4>
					<h4><a href="#"><i class="fa fa-chevron-right"></i>Óleos Industriais</a></h4>
					<h4><a href="#"><i class="fa fa-chevron-right"></i>Manutenção Automotiva</a></h4>
					<h4><a href="#"><i class="fa fa-chevron-right"></i>Filtros</a></h4>
					<h4><a href="#"><i class="fa fa-chevron-right"></i>Aditivos</a></h4>
				</div>
				<div class="col-sm-3 footer_left">
					<h2>Contato</h2>
					<p>
						Inscreva-se em nossa lista de emails para receber novidades. Fique tranquilo: nós não iremos compartilhar o seu email nem encher a sua caixa de entrada com anúncios pouco importantes.
					</p>
					<input type="text" class="form-control form-control_course" placeholder="Digite seu E-mail aqui*">
					<h6><a href="#">Assinar</a></h6>
				</div>
			</div>
		</div>
	</section>	

	<section id="footer_last" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="footer_last clearfix">
					<p class="website">© 2024 Direção Digital. All rights reserved | Design by
						<a href="https://direcaodigital.com/"> Direção Digital</a>
					</p>
				</div>
			</div>
		</div>
	</section>

</body>

<script type="text/javascript">
	$(document).ready(function () {

		/*****Fixed Menu******/
		var secondaryNav = $('.cd-secondary-nav'),
			secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function () {
			if ($(window).scrollTop() > secondaryNavTopPosition) {
				secondaryNav.addClass('is-fixed');
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});
	});
</script>

<!-- JavaScript do Carrossel de Reviews -->
<script>
	
	let currentIndex = 0;

	function showSlide(index) {
		const slides = document.querySelectorAll('.carousel-slide');
		const totalSlides = slides.length;
		if (index >= totalSlides) {
			currentIndex = 0;
		} else if (index < 0) {
			currentIndex = totalSlides - 1;
		} else {
			currentIndex = index;
		}
		const offset = -currentIndex * 100;
		document.querySelector('.carousel-wrapper').style.transform = `translateX(${offset}%)`;
	}

	function nextSlide() {
		showSlide(currentIndex + 1);
	}

	function prevSlide() {
		showSlide(currentIndex - 1);
	}

	// Inicializar o carrossel
	showSlide(currentIndex);

	// Auto slide
	setInterval(nextSlide, 5000);
</script>

<script type="text/javascript" src="{% static 'home/js/simple-lightbox.js' %}"></script>

<script>
	$(function () {
		var $gallery = $('.gallery a').simpleLightbox();

		$gallery.on('show.simplelightbox', function () {
			console.log('Requested for showing');
		})
			.on('shown.simplelightbox', function () {
				console.log('Shown');
			})
			.on('close.simplelightbox', function () {
				console.log('Requested for closing');
			})
			.on('closed.simplelightbox', function () {
				console.log('Closed');
			})
			.on('change.simplelightbox', function () {
				console.log('Requested for change');
			})
			.on('next.simplelightbox', function () {
				console.log('Requested for next');
			})
			.on('prev.simplelightbox', function () {
				console.log('Requested for prev');
			})
			.on('nextImageLoaded.simplelightbox', function () {
				console.log('Next image loaded');
			})
			.on('prevImageLoaded.simplelightbox', function () {
				console.log('Prev image loaded');
			})
			.on('changed.simplelightbox', function () {
				console.log('Image changed');
			})
			.on('nextDone.simplelightbox', function () {
				console.log('Image changed to next');
			})
			.on('prevDone.simplelightbox', function () {
				console.log('Image changed to prev');
			})
			.on('error.simplelightbox', function (e) {
				console.log('No image found, go to the next/prev');
				console.log(e);
			});
	});
</script>

</html>