/* Geral */
body.products {
    font-family: Arial, sans-serif;
    margin: 20px;
}

main.products {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.filter-container.products {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-container.products input,
.filter-container.products select,
.filter-container.products button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-container.products button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.filter-container.products button:hover {
    background-color: #45a049;
}

/* Tabela */
table.products {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
}

table.products th,
table.products td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.products th {
    background-color: #4CAF50;
    color: white;
}

table.products tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.products tr:hover {
    background-color: #ddd;
}

table.products td img {
    width: 50px;
    height: auto;
}

.actions.products i {
    cursor: pointer;
    margin-right: 5px;
}

/* Paginação */
.pagination.products {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination.products button {
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
}

.pagination.products button:hover {
    background-color: #45a049;
}

.pagination.products #paginationNumbers {
    display: flex;
    align-items: center;
}

.pagination.products #paginationNumbers span {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination.products #paginationNumbers span.active {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
}
